<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>서버 파트</h1>
    <p><%= body %></p>
    <table>
      <tr>
        <th>이름</th>
        <th>나이</th>
      </tr>
      <tr>
        <td>철수</td>
        <td>23세</td>
      </tr>
      <tr>
        <td>영희</td>
        <td>21세</td>
      </tr>
    </table>
  </body>
</html>
